*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    background: #FFF;
    color: #090909;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/** UTILITY **/

.container {
    margin: 0 auto;
    /* LEAVE SPACE BETWEEN CONTENT AND SCREEN, EVEN ON VERY NARROW DEVICES */
    width: calc(100vw - 40px);
    max-width: 980px;
    min-width: 300px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** TYPOGRAPHY **/

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.25em 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

p {
    margin-top: 0;
}

time {
    text-transform: uppercase;
    font-size: 0.875rem;
}

/** HEADER & NAV **/
.logo {
    height: 24px;
    margin: 3px;
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    letter-spacing: -0.02em;
    font-weight: 700;
    color: #0E0E0E;
}

.nav {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-link {
    font-size: 0.75rem;
    font-weight: 600;
    color: #0E0E0E;
    text-transform: uppercase;
    display: block;
    margin: 2em 0 2em 2em;
}

.nav-link:hover,
.nav-link:focus {
    color: #555555;
}

/** HERO **/
.hero {
    background-color: #0000004F;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.31) 100%), url("./images/main1.png");
    background-size: cover;
    background-position: center bottom;
    color: #FFF;
}

.main-article {
    display: flex;
    flex-direction: column;
    padding: 6em 0 0;
    width: 100%;
    max-width: 620px;
}

.main-date {
    order: -1;
}

/** ARTICLE LIST **/
.other-articles {
    padding-bottom: 1.5em;
}

.article-list {
    list-style: none;
    display: grid;
    grid-template: 1fr / repeat(auto-fill, minmax(300px,1fr));
    padding: 0;
    gap: 1.5em;
}

.article-item {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.article-item-img {
    order: 1;
    height: 240px;
    object-fit: cover;
}

.article-item-title {
    order: 3;
}

.article-item-date {
    order: 2;
}

.article-item-snippet {
    order: 4;
    color: #505050;
}

.view-more-btn {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    padding: 0;
    margin: 0 auto;
}

/** FOOTER **/
footer {
    background: #202020;
    color: #FFF;
    font-size: 0.75rem;
    padding: 3em;
    text-align: center;
    margin: auto 0 0;
}

.footer-name {
    margin: 0;
    font-weight: 700;
}

@media screen and (min-width: 760px) {
    .container {
        width: calc(100vw - 50px);
    }

    .hero {
        background-position: center 75%;
    }

    h1 {
        font-size: 2.5rem;
    }

    .main-article {
        padding: 18em 0 3.75em;
    }

    .main-date {
        font-size: 1rem;
    }

    .logo {
        height: 35px;
        margin: 4px;
    }

    .logo-text {
        font-size: 1.25rem;
    }

    .nav-link {
        font-size: 1rem;
    }
}